
@{
    ViewData["Title"] = "Bảng điều khiển";
}

<h3 style="text-align: center">FOUNDED BY</h3>
<br />
<div style="text-align: center; font-family: 'Courier New'">
    <h1 style="color: #00AE72; font-weight: bolder">ZEIN</h1>
    <h2>Trần Trọng Tấn - Phạm Hoàng Tuấn Kha - Trương Công Viên</h2>
    <img src="~/images/logo.png" style="display: block; margin: 0 auto" alt="ZEIN Team" />
</div>

